.list {
    display: flex;
    width: 100%;
    
    .listContainer {
        flex: 6;
    }

    /* Responsive Styles */
    @media (max-width: 768px) {
        flex-direction: column; /* Stack items vertically on smaller screens */
        width: 100%; /* Ensure it takes full width on smaller screens */

        .listContainer {
            flex: 1; /* Allow full width for the container on small screens */
            padding: 10px; /* Add padding for better spacing on small screens */
        }
    }

    @media (max-width: 480px) {
        .listContainer {
            padding: 8px; /* Reduce padding for very small screens */
        }
    }
}
