.home {
    display: flex;
    flex-direction: column; /* Stack content vertically by default on small screens */

    .homeContainer {
        flex: 6;

        .widgets, .charts {
            display: flex;
            flex-wrap: wrap; /* Allow widgets and charts to wrap on smaller screens */
            padding: 20px;
            gap: 20px;

            @media (max-width: 768px) {
                flex-direction: column; /* Stack widgets and charts vertically on small screens */
                padding: 10px; /* Reduce padding for smaller screens */
                gap: 10px; /* Reduce gap between widgets and charts */
            }
        }

        .charts {
            padding: 5px 20px;

            @media (max-width: 768px) {
                padding: 10px; /* Adjust padding for smaller screens */
            }
        }

        .listContainer {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 20px;

            @media (max-width: 768px) {
                margin: 10px; /* Reduce margins on smaller screens */
                padding: 10px; /* Reduce padding for smaller screens */
            }

            .listTitle {
                font-weight: 500;
                color: gray;
                margin-bottom: 15px;

                @media (max-width: 768px) {
                    margin-bottom: 10px; /* Adjust margin for smaller screens */
                }
            }
        }
    }

    /* Flexbox to display homeContainer side by side on larger screens */
    @media (min-width: 769px) {
        flex-direction: row;
    }
}
